@media(max-width:1200px) {
}
/* 992px <= width < 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
	.content-logo{float: none;margin: 0 auto;}
	.header .logo{padding: 35px 0 10px;}
	.header-container-fixed .content-logo{display: none;}
	.alo-block-slide {padding: 0 15px;}
	.magicslider .bx-wrapper img{width: 100%;}
	.custom-menu .magicmenu{text-align: left;}
	.cms-index-index .vmagicmenu .block-vmagicmenu-content {opacity: 0;visibility: hidden;}
	.cms-index-index .vmagicmenu:hover .block-vmagicmenu-content {opacity: 1;visibility: visible;}
	.magicmenu .nav-desktop .level0.home{padding:0;}
	.magicmenu .nav-desktop .level0 .level-top{padding: 15px 5px;}
	.magicmenu .level0 .level-top img{ padding-right: 10px;}
	.header-container-fixed .magicmenu .nav-desktop .level0 .level-top {padding: 5px;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children,
	.vmagicmenu .level0 .level-top-mega .mage-column .children{width:180px;}
	.vmagicmenu{width: 50px;}
	.vmagicmenu .block-title .vmagicmenu-subtitle{display: none;}
	.vmagicmenu .block-title{padding: 0 15px;}
	.vmagicmenu .vmagicmenu-narrow >li:nth-child(n+12) { display: none; }
	.all-cat{margin-top: 7px;}
	.cms-index-index .container, .cms-index-index .header .padding{padding-right: 15px;padding-left: 15px;}
	.banner-boder-zoom h2{font-size: 90px;}
	.box-products .item .per-product .images-container img {padding: 10px;}
	.box-product .short-desc{padding: 0;}
	.box-products .item .actions-no .button.btn-cart:before{margin-right: 0;}
	.box-products .item .actions-no .button.btn-cart span{display: none;}
	.max-width{width: 100%;float: none;}
	.block-anav{padding: 25px 10px;}
	.per-product{border-width: 3px;}
	.item .actions-cart .button.btn-cart, .item .actions-cart .availability{padding: 0 35px;}
	.product-view .product-img-box .more-views{width: 280px;}
	.heading .title{font-size: 30px;}
	.box-title{padding: 0 0 6px 10px;}
	.box-top .sub-title{font-size: 18px;}
	.section-sub-text{font-size: 13px;}
	.subtitle, .sub-title{font-size: 14px;padding:18px 0 0;}
	.store-contact .store1,.store-contact .store2,.store-contact .store3,.store-contact .store4{padding: 0;}
	.store-contact .store-item{text-align: center;}
	.store_info .flex{padding: 10px 0 0;width: 100%;}
	.store-contact.locations .store-item{text-align: left;}
	.store-contact.locations .store_info .flex{width: auto;padding: 0;}
	.block .block-content, .block-anav .nav-accordion{padding: 20px 10px;}
	.block-subscribe .block-content{padding: 0;}
	.products-list .actions-list .button.btn-cart span span.view-cart{font-size: 14px;}
	.footer .logo-footer{width: 100%;}
	.footer .menu-footer{width: 70%;}
	.footer .social-footer{width: 30%;}
	.logo-footer img{margin: 0 auto;}
}	

@media(max-width:991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
	.alo-block-slide {padding: 0 15px;}
	.header-content .row-normal{border: 0;}
	.cms-index-index .header,.custom-menu,.header-container-fixed{position: static;}
	.tool-header{position: static;float: left;}
	.mean-container{float: right;margin-top: 13px;}
	.custom-menu,.mean-container .mean-bar{float: left;}
	.mean-container .mean-bar{margin-top: 10px;}
	.padding .container{position: relative;}
	.content-logo{margin: 0;}
	.header .logo{padding: 20px 0;}
	.header-bottom{margin-bottom: 20px;}
	.miniCartWrap,.main-header .support{margin-top: 0;}
	.sec-tool{margin-top: 18px;}
	.cms-index-index .container, .cms-index-index .header .padding{padding-right: 15px;padding-left: 15px;}
	.menu-mobile-none,.magicmenu{display: none;}
	.mean-container .mean-nav > ul{margin: 0;}
    .magicslider .bx-wrapper img{width: 100%;}
    .service .container{padding: 0;}
    .service .service-item .info {padding-left: 0;text-align: center;width: 100%;}
    .actions-no .actions{top: 30%;}
    .store-contact .store1,.store-contact .store2,.store-contact .store3,.store-contact .store4{padding: 0;}
	.store-contact .store-item{text-align: center;}
	.store_info .flex{padding: 10px 0 0;width: 100%;}
	.store-contact.locations .store-item{text-align: left;}
	.store-contact.locations .store_info .flex{width: auto;padding: 0;}
	.page-team-content .sub-text{width: 700px;}
	.banner-boder-zoom h2{font-size: 60px;}

	.per-product{border-width: 3px;}
	.box-product-content{padding-bottom: 90px;}
	.item .actions-cart .button.btn-cart, .item .actions-cart .availability{padding: 0 35px;}
	.box-product .short-desc,.magicproduct .short-desc{padding: 0;}
	.box-background{padding: 60px 0;}
	.max-width{width: 100%;float: none;}
	.title-description h2.desc-ads{font-size: 80px;line-height: 70px;}
	.title-description h2{font-size: 50px;}
	.show-for-price .price span {font-size: 165px;line-height: 150px;}
	.show-for-price .price .sup1{font-size: 95px;}

	.block-newletter { text-align: left;padding-top: 20px;}
	.no-display{display:block !important;}
	.link-view{display: none;}
	.category-products .toolbar .pager {display: inline-block;float: none;margin: 10px 0 0;}
	.block-anav{padding: 25px 10px;}
	ul.nav-accordion ul{padding: 0 0 0 10px;}
	ul.nav-accordion li ul li.parent > a {padding-left: 0;}
	ul.nav-accordion ul ul li a{margin-left: 0;}
	ul.nav-accordion li a span {font-size: 14px;}
    .col-left .magicproduct.mage-custom .content-products .item .images-container,.col-left .left-module .products-textlink{width: 100%;}
    .col-left .left-module .products-textlink{padding-left: 10px;}
    .left-module .content-products{padding: 15px 5px;}
	.block-viewed .block-content, .block-reorder .block-content{padding:0 10px;}
	#narrow-by-list dd .swatch-link{margin-right: 0;}
	.content-newsletter{margin: 0;padding: 70px 0;}
	.block-subscribe .input-box{width: 700px;}
	.block.block-subscribe .block-title strong span{font-size: 40px;}
	.form-subscribe-header p{font-size: 20px;}
	#popup-newsletter{background-size: 100% auto;background-repeat: no-repeat;background-color: #fff;width: 728px !important;height: auto !important;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}
	.products-list .actions-list .button.btn-cart span span.view-cart{margin: 0;padding: 0px; text-align: center;float: none;}
	.products-list .actions-list .button.btn-cart span span{padding: 0 17px 0 10px;}
	.products-list .item .actions-no .add-to-links{margin: 10px 0 0;}
	.products-list .item .actions-no .add-to-links li .link-wishlist{margin-left: 0;}
	.products-list .item .right-block,.products-list .item .left-block{float: none;}
	.products-list .price-box .regular-price .price, .products-list .price-box .special-price .price,.products-list .price-box .old-price .price{font-size: 13px;}
	/* Product Page */
	.product-view .add-to-cart{margin: 33px 15px;}
	.product-view .add-to-cart button.button{padding: 0 30px;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-view .product-qty .custom-qty{width: 160px;}
	.product-view .product-qty .custom-qty .btn-plus .items{width: 45px;}
	.product-view .product-shop .add-to-links li{margin-bottom: 5px;}
	.product-view .toggle-tabs .item span{padding: 0 40px;font-size: 15px;}
	/* Product checkout cart */
	.cart button.button.btn-update span, button.button.btn-continue span, button.button.btn-empty span, button.button.btn-checkout span, .cart .buttons-set button.button span {padding: 0 30px;font-size: 13px;}
	.cart button.button.btn-update span span, button.button.btn-continue span span, button.button.btn-empty span span, button.button.btn-checkout span span, .cart .buttons-set button.button span span{padding: 0px;}
	.cart .totals{padding: 15px 5px;}
	.alo-social-networks a{margin: 0 8px 0 0;}
	.collapsible{margin-top: 15px;clear: both;}
	.block-footer-bottom .footer .block-title{font-size:15px;}
	.footer address,.paypal{float: none;padding:10px 0;display: inline-block;}
	.clearboth{clear: both;}
	.cart-table td {padding: 15px 13px;}
	.container { padding-left: 15px;padding-right: 15px;}
	.footer .logo-footer{width: 100%;}
	.footer .menu-footer{width: 70%;}
	.footer .social-footer{width: 30%;}
	.logo-footer img{margin: 0 auto;}
}

/* Iphone 5 landscape */
@media(max-width:767px) {
	.alo-block-slide {padding: 0 15px;}
	.tool-header{position: static;float: left;}
	.sec-tool{margin-top: 18px;}
	.header-content .row-normal{border: 0;}
	.cms-index-index .header,.custom-menu,.header-container-fixed{position: static;}
	.mean-container{float: right;margin-top: 13px;}
	.custom-menu,.mean-container .mean-bar{float: left;}
	.mean-container .mean-bar{margin-top: 10px;}
	.mean-container .mean-nav > ul{margin: 0;}
	.padding .container{position: relative;}
	.header-bottom{margin-bottom: 20px;}
	.container { padding-left: 15px;padding-right: 15px;}
	.no-display{display:block !important;}
	.header-setting.header-setting-icon,.anav-container,.nav-mobile{display: none;}
	.content-logo{margin: 0;}
	.header .logo{padding: 20px 0 20px;}
	.content-seach{padding-left: 15px;padding-right: 15px;}
	.header .header-search{margin-top: 0;}
	.dropdown-switcher ul {margin: 0;}
	.miniCartWrap,.main-header .support{margin-top: 0;}
	.mini-maincart{position: static;}
	.mini-maincart .mini-contentCart{width:100%;z-index: 1000;}
	.custom-menu .magicmenu,.menu-mobile-none{display: none;}
	.cms-index-index .container, .cms-index-index .header .padding{padding-right: 15px;padding-left: 15px;}
	.service .col-xs-4{width: 100%;}
	.service .service-item{margin-bottom: 15px;}
	.banner-boder-zoom{max-width: 885px;margin: 0 auto 20px;}
	.banner-boder-zoom a img{margin: 0 auto;}
	.banner .banner-main1{padding-right: 0px;}
	.banner .banner-main2{padding-left: 0px;}
	.banner-boder-zoom h2{font-size: 80px;}
	.banner-ads2{margin-top: 0;}
	.content-newsletter{margin: 0;padding: 70px 0;}
	.block-subscribe .input-box{width: 100%;}
	.block.block-subscribe .block-title strong span{font-size: 40px;}
	.form-subscribe-header p{font-size: 20px;}
    #popup-newsletter{width: 100% !important;height: auto !important;background-image: none !important;background-color: #ffffff;}
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
	#popup-newsletter .block-content .input-box {width: 100%;}
	#popup-newsletter .block-content{width: 100%;float: none;}
	#popup-newsletter .block-content .promotions{margin: 0;text-align: center;}
	#popup-newsletter .block-content h3,#popup-newsletter .subscribe-bottom{text-align: center;}
	#popup-newsletter .block-content .actions{padding: 10px 0 0;}
	.promo-panel-sale span, .promo-panel-text{font-size: 28px;line-height: 28px;}
	.promo-panel-text1{font-size: 15px;}

	.store-contact .store2 .store-item{border: 0;}
	.store_info li:last-child {padding-bottom: 30px;}
	.our-story .block-content{margin-top: 40px;}
	.page-team-content .sub-text{width: 100%;}

	.magicslider .text-slide{left: auto;margin: 0;}
	.magicslider .bx-wrapper .bx-controls-direction a.bx-prev{left: 0;}
	.magicslider .bx-wrapper .bx-controls-direction a.bx-next{right: 0;}
	.magicslider:hover .bx-wrapper .bx-controls-direction .bx-prev,
	.magicslider:hover .bx-wrapper .bx-controls-direction .bx-next{margin: 0;}

	.box-background{padding: 60px 0;}
	.max-width{width: 100%;float: none;}
	.title-description h2.desc-ads{font-size: 60px;line-height: 50px;}
	.title-description h2{font-size: 35px;}
	.show-for-price .price span {font-size: 120px;line-height: 100px;}
	.show-for-price .price .sup1{font-size: 65px;}
	.title-description p:before{width: 400px;}
	.banner .title span.big-size{font-size: 45px;line-height: 40px;}
	.box-product-content {padding-bottom: 90px;}
	.magictabs .item .title, .magictabs .citem a span {font-size: 20px;padding: 0 13px;}
	.per-product{border-width: 3px;}
	.item .actions-cart .button.btn-cart, .item .actions-cart .availability{padding: 0 20px;}
	.box-product .short-desc,.magicproduct .short-desc{padding: 0;}
	.products-grid .product-name a{font-size: 18px;}

	.box .featured-images-wrap, .box .featured-text-wrap{float: none;margin:0 auto;}
	.box{padding-bottom: 0;}
	.box-top img{width: 100%;}
	#magicshop_quickview_handler{display:none !important;}
	.link-view{display: none;}
	.magictabs .item span{font-size:12px;}
	.magictabs .item{padding: 0;}
	.block-title h2 span.title-top {font-size: 30px;padding: 0 0 20px;}
	.cart-table .product-image img{width: auto;}
	.actions-no .actions{top: 30%;}
	.bx-wrapper .bx-controls-direction a{opacity: 1;visibility: visible;}
	.bx-wrapper .bx-controls-direction a.bx-next,
	.bx-wrapper .bx-controls-direction a.bx-prev{transform: translate(0px, 0px);}
	.content-products .bx-wrapper .bx-controls-direction a.bx-next {right: -15px;}
	.content-products .bx-wrapper .bx-controls-direction a.bx-prev {left: -15px;}
	
	.alo-brands .nbs-flexisel-item img{display:inline-block;}
	#backtotop{display:none !important;}
	.breadcrumbs li{margin-bottom: 10px;}
	.breadcrumbs li:last-child{margin-bottom: 0;}
	.sidebar .bx-wrapper .item img{width: auto;}
	.col-left .magicproduct .per-product{display: inline-block;}
	.col-left .magicproduct .per-product .images-container{width: 40%;}
	.col-left .magicproduct .per-product .products-textlink {width: 60%;padding-left: 20px;}
	/* Product Page */
	.product-view .product-shop .no-display{display:none !important;}
	.product-wapper-tab .toggle-tabs,.product-wapper-tab .product-collateral{float: none;width: 100%;clear: both;}
	.product-view .box-tags .form-add input.input-text{margin-bottom:10px;}
	.product-view .box-tags .form-add input.input-text,
	.product-view .box-tags .form-add .input-box,
	.product-view .box-reviews .form-add .form-list input.input-text, 
	.product-view .box-reviews .form-add .form-list textarea,
	.product-view .box-reviews .form-add .form-list .input-box{width: 90%;}
	.product-collateral .box-reviews .data-table thead th{text-transform: capitalize;}
	.product-view .product-shop-content {padding: 20px 0 0;}
	.data-table thead th{padding:10px 2px;}
	.nobr{font-size:12px;}
	.checkout-cart-index .data-table .product-image img{display: inline;}
	.cart-table .btn-continue,.cart-table .btn-update, .cart-table .btn-empty{float:none;margin-left: 0;}
	.cart-table button.button{margin-top:3px;margin-bottom:3px;}

	.cart-table td{padding:10px;}
	table#wishlist-table,table#shopping-cart-table, table#checkout-review-table, table#my-orders-table {border: 0 none;outline: medium none;}
	table#wishlist-table td, 
	table#wishlist-table th table#product-review-table td, 
	table#shopping-cart-table td, 
	table#shopping-cart-table th, 
	table#checkout-review-table td, 
	table#checkout-review-table th, 
	table#my-orders-table th, 
	table#my-orders-table td {display: block;float: none;text-align: left !important;border: 0;}
	.data-table th, .data-table td.last { border-bottom: 1px solid #DDDDDD !important;}
	.data-table tbody th, .data-table tbody td{border-bottom: 0px solid #dddddd;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
	.data-table tfoot {border-bottom: none;}
	.data-table thead.hidden-phone{display:none;}
	.data-table .data-cell-label {display: inline-block;margin-right: 10px;max-width: 140px;min-width: 100px;width: 30%;}
	.data-table .a-center .btn-edit.btn-edit2{padding: 0;vertical-align: middle;}
	.cart .data-table .btn-remove2{text-align: center;}
	.data-table .custom-qty{display: inline-block;}
	.data-table .custom-qty .alo_qty{text-align: center;}

	.my-wishlist #wishlist-table.data-table thead{display:none;}
	.my-wishlist .data-table{border-top: 1px solid #dddddd;}
	.my-wishlist .data-table tbody th, .my-wishlist .data-table tbody td{ border-left: 1px solid #dddddd;}
	.my-wishlist .cart-cell .add-to-cart-alt input.qty{float:none;border: 1px solid #eaeaea;}

	.cart .page-title{padding:10px 0;}
	.cart .crosssell{margin:20px 0 0 0;}
	.blog-postbox .button-set{margin-bottom:15px;}
	.page {overflow: hidden;}
	.main .col-main {padding: 0 15px;}
	.product-image-gallery .gallery-image.visible {width: 100%;}
	.cart .totals {margin: 0 0 15px 0;}
	.checkout-onepage-index .main-container {padding-top: 0;}
	.customer-account-index .main-container { margin-top: 0;}
	.block-subscribe .block-content{display: block;}
	.footer .container{padding: 0;}
	.footer .form-subscribe-header, .footer .block-subscribe .input-box{float: none;width: 100%;text-align: left;}
	.footer .block-subscribe .input-box{padding: 0;}
	.footer .block-title{padding: 0;}
	.block-content-statick{padding: 10px 0 0;}
	.mobile-collapsible{clear: both;margin-bottom: 20px;position: relative;}
	.footer .block-content-statick .list-inline li{float: none;}
	.group-title{line-height: normal;}
	.footer-menu-list li{display: inline-block;}
	.footer .social-footer, .footer .logo-footer,.footer .menu-footer{width: 100%;}
	.social-footer h2{display: inline-block;float: none;vertical-align: middle;}
	.socials{float: none;vertical-align: middle;}
	.megashop{position: relative;}
	.logo-footer img{margin: 0 auto;}
	.megashop .content-products{padding-top: 4px}
	.megashop .toggle-tab.mobile,.mobile-collapsible .toggle-tab.mobile{color: #ffffff;cursor: pointer;display: block !important;padding: 14px 20px 18px;position: absolute;right: 0px;z-index: 0; width: 100%; text-align: right;}
    .collapsible .toggle-content,.block-layered-nav .toggle-content{ display: none;}
	.toggle-content.visible{ display: block;}
	.mobile-collapsible .toggle-tab.mobile,.block-layered-nav .toggle-tab.mobile{padding: 0px 10px;top: 0;width: auto;font-size: 17px;line-height: 20px;cursor: pointer;}
	.collapsible .toggle-tab:before,.block-layered-nav .toggle-tab:before{content: "\f107";font-family: FontAwesome;}
	.collapsible.toggle-visible .toggle-tab:before,.block-layered-nav .toggle-visible .toggle-tab:before{ content: "\f106";font-family: FontAwesome;}
	.block-layered-nav .toggle-tab.mobile{position: absolute;right: 0;display: block !important;line-height: 28px; }
	.narrow-by{position: relative;padding: 5px 0;outline:medium none !important;margin: 0;}
	.mobile-collapsible .toggle-tab.mobile{color: #666;font-weight: bold;}
	.mobile-collapsible .toggle-tab.mobile:hover{color: #ff3366;}
}

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
}

/* 480px <= width < 768px */

@media only screen and (max-width: 639px) {
	.col-mobile-plus-12{width:100%}
	.col-mobile-plus-6{width:50%}
	.col-mobile-plus-4{width:30.3333333333%}
	.col-mobile-plus-3{width:25%}
	.col-mobile-plus-2{width:16.6666666666%}
	.col-mobile-plus-1{width:8.33333333333%}
	.col2-set .col-1 { width: 100%;margin-bottom: 20px;}
	.col2-set .col-2 {float: right;width: 100%;}
	.account-login .content { min-height: 100px;}
	.store-contact .store1,.store-contact .store2,.store-contact .store3,.store-contact .store4{width: 100%;}
	.store-contact .store1 .store-item,.store-contact .store2 .store-item,.store-contact .store3 .store-item,.store-contact .store4 .store-item{border:0;}
    .single-store,.column_right{width: 100%;}

	.header .header-top-link .links{float: none;width: 100%;}
	.play .caption1{line-height: 20px;font-size: 20px;margin-bottom: 5px;}
	.magicslider .text-slide .btn-shop{line-height: 35px;}

	.product-view .toggle-tabs .item{line-height: 40px;}
	.product-view .toggle-tabs .item span {padding: 0 20px;}
	.product-wapper-tab .product-collateral .box-collateral.box-description p{font-size: 14px;}

	.sorter .limiter {margin: 0 5px;padding: 0;}
	.toolbar .pager {display: inline-block;float: none;padding-top: 5px;}
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{ display: inline-block;float: none !important;padding: 5px 0;border: 0;vertical-align: top;}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
	.products-list li.item .product-shop .f-fix{padding-right: 0;}
	.product-secondary{margin-top: 10px;}
	.products-list .item .right-block,.products-list .item .left-block{float: none;}
}

/* width < 320px */
@media only screen and (max-width: 479px) {
	.col-mobile-12{width:100%}
	.col-mobile-6{width:50%}
	.col-mobile-4{width:30.3333333333%}
	.col-mobile-3{width:25%}
	.col-mobile-2{width:16.6666666666%}
	.col-mobile-1{width:8.33333333333%}

	.padding .container{text-align: center;}
	.content-logo {float: none;margin: 0 auto;text-align: center; width: 100%;}
	.mean-container {display: inline-block;float: none;margin: 0 auto;}
	.main-header, .sec-tool{float: none;display: inline-block;}
	.tool-header .tool-setting .toggle-content,.tool-header .tool-setting .toggle-content.visible, .tool-header .tool-setting:hover .toggle-content{transform: translate(50%);-moz-transform: translate(50%);-webkit-transform: translate(50%);-o-transform: translate(50%);right: 50%;}
	.play .caption1{font-size: 15px;line-height: 15px;}
    .play .caption2{font-size: 14px;}
    .magicslider .text-slide .btn-shop{line-height: 30px;font-size: 13px;margin-top: 10px;}
    .banner .title{padding-top: 0;}
    .banner-boder-zoom h2{font-size: 60px;}
    .title-description h2 {font-size: 30px;}
    .show-for-price div{margin: 0 0 0 5px;}
    .title-description h2.desc-ads {font-size: 45px;line-height: 35px;}
    .show-for-price .price span {font-size: 90px;line-height: 79px;}
    .show-for-price .price .sup1 {font-size: 50px;}
    .title-description p{padding-top: 15px;margin-top: 15px;}
    .title-description p:before {width: 300px;}
    .content-newsletter {padding: 30px 0;}
    .block.block-subscribe .block-title strong span {font-size: 30px;}
    .form-subscribe-header p{margin-bottom: 25px;}
    .block-subscribe input.input-text{height: 50px;padding: 8px 175px 8px 20px;}
    .block-subscribe .actions{top: 3px;right: 3px;}
    .block-subscribe .actions button.button span {font-size: 15px;height: 44px;line-height: 44px;width: 160px;}
    .timer-view .box{padding: 0 5px;}
    .block.block-related .block-title, .block.box-up-sell .block-title, .crosssell .block-title{text-align: left;}
    .block-related .block-title h3 span, .product-view .box-up-sell .block-title h3 span, .cart .crosssell .block-title h3 span{font-size: 20px;}

	.block-title h2 span {font-size: 20px;}
	.cartSummary .icon-cart {font-size: 17px;}
	.nbs-flexisel-item img {display: inline-block;}
	.product-view .product-shop .add-to-links {clear: both;display: block;padding-top: 10px;}
	.product-view .product-shop .add-to-links li, 
	.product-view .product-shop .add-to-links li .separator {margin: 0 10px 0 0;}
	.product-view .toggle-tabs .item, .product-view .toggle-tabs .item span {display: block; width: 100%}
	.cart-table td{padding: 10px;}
	.products-list li.item .product-shop .f-fix{padding:10px 0 0; }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.toolbar-bottom .toolbar .sorter,.toolbar .sorter{text-align: center;}
	.toolbar .pager{float: none;padding-top: 5px;}
}

/* Iphone 4 landscape */
@media (max-width: 360px) {
	.tool-header .tool-setting .toggle-content, .tool-header .tool-setting .toggle-content.visible, .tool-header .tool-setting:hover .toggle-content {right: 35%;transform: translate(35%);-moz-transform: translate(35%);-webkit-transform: translate(35%);-o-transform: translate(35%);}
	.category-products .products-grid > li {width: 100%;}
	.play .caption2{font-size: 13px;}
	.play .caption4{display: none;}
	.magicslider .bx-wrapper .bx-pager.bx-default-pager a{vertical-align: middle;}
	.magicslider .bx-wrapper .bx-pager{bottom: 0;}
	.magicslider .bx-wrapper .bx-controls-direction a{display: none;}
	.crazy-team-slide .item{width: 100%;}
	.magictabs .item, .magictabs .citem{display: block;}
	.magictabs .item .title, .magictabs .citem a span{padding: 0;}
	.magictabs .item.active .title:after, .magictabs .item:hover .title:after{display: none;}
	.box-background .magicproduct .short-desc {width: 300px;}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {float: none;text-align: center;}
	.cart .title-buttons .checkout-types,.cart .title-buttons .checkout-types li{float: none;text-align:center;}
	.cart .title-buttons .checkout-types{margin-top:10px;}
	.col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.account-login .col2-set,.account-login .col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 {float: none;width: 100%;margin-bottom: 10px;}
	.my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
	.my-wishlist thead.hidden-phone{display:none;}
	a.btn-edit, a.btn-remove{margin:0 auto;float:none;}
	.mini-contentCart .product-details a.btn-remove,.mini-contentCart .product-details a.btn-edit{float: left;margin: 0 5px 0 0;}
	#toPopup{left:18%;top: 10%;}
	.box-support ul li{margin-top:10px;}
	.wrapper{overflow:hidden;}
	.product-view .product-img-box .more-views .nbs-flexisel-item img{display:inline;}
} 

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
    .wrapper{overflow:hidden;}
	#toPopup{left:3%;}
	.product-view .product-img-box .more-views{width: 195px;}
	.product-shop .ratings .rating-links{ margin: 10px 0px 10px;}
}
@media only screen and (min-width: 240px) and (max-width: 319px) {
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{width: 100%;text-align: left;}
	.toolbar-bottom .toolbar .pager{float: left;}
}







